<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Example</title>
</head>
<body>
    <h1>This is EJs Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ad inventore natus commodi cumque dolorem nemo magni? Enim voluptatem veritatis consectetur porro, modi doloremque error omnis! Accusantium aspernatur alias voluptate?
    Omnis ipsum error harum saepe accusamus sed, nemo modi explicabo, repellendus, voluptates laboriosam tenetur. Totam omnis illo, voluptate nulla veniam sunt! In officiis facere eos doloremque provident repellat fugit qui.
    Corporis, harum eveniet recusandae modi molestias ipsam impedit autem quod quas velit error laborum perferendis magni architecto excepturi saepe consectetur assumenda sed? Quae aspernatur et dolorem explicabo ratione eum nulla?
    Sapiente ut maxime numquam praesentium corrupti libero quibusdam ipsam, iure corporis quasi, voluptas harum sed provident eos assumenda quia optio vero nemo aut. Accusamus magnam veniam suscipit delectus culpa saepe?
    Impedit vitae distinctio, error dicta harum officia alias voluptates saepe reprehenderit adipisci delectus sed placeat necessitatibus debitis ab, veritatis eveniet, aperiam nam incidunt? Exercitationem placeat ipsa rem nesciunt repudiandae obcaecati?
    Impedit, ut. Assumenda, eligendi! Voluptas similique temporibus ducimus optio nulla vel dignissimos voluptates nobis iure facere. Dolor sequi cupiditate rerum voluptates adipisci voluptas! Maxime quibusdam voluptas labore illum nemo. Fuga!
    Obcaecati voluptatem, voluptate nostrum odio ratione doloribus, temporibus beatae quod earum maxime consequatur fuga? Dolorum quos, quibusdam cupiditate molestias sunt similique esse maxime quo. Placeat ab sequi culpa nostrum recusandae!
    Corporis commodi aperiam excepturi alias magnam aliquam asperiores omnis officiis iure nisi maxime nihil cum nam reprehenderit quod, eius perspiciatis cumque eos? Perferendis tempore minima dolorum, unde veniam dicta eveniet!
    Ipsam natus minima possimus quod reiciendis non dolorem, molestias quibusdam consequuntur. Maxime, eligendi corporis omnis eos, veritatis error enim unde maiores suscipit qui itaque fugit quasi deleniti sint magnam dolor!
    Cum excepturi, itaque quae architecto minima exercitationem reiciendis nihil facere nam nostrum aut rem eligendi natus accusamus assumenda reprehenderit perferendis at temporibus nemo tenetur obcaecati totam ipsam hic? Dicta, deserunt.
    Nostrum vitae officia natus. Beatae maxime quam placeat sed sint magni repellat sequi nostrum itaque assumenda. Ipsa tenetur nam autem fugit sequi similique, facere modi, fuga commodi enim, error hic?
    Impedit ipsam quisquam maxime quis eaque, aliquam veniam commodi in id repellendus dignissimos distinctio, deleniti nisi temporibus? Dolor est a magnam voluptate ullam expedita quaerat, maxime quidem? In, deserunt odit!
    Eius quisquam tempora aspernatur quod voluptas accusamus ea excepturi minima dolorum repudiandae temporibus repellat, reprehenderit, in saepe laudantium, modi magnam sint totam! Autem quas incidunt, ipsam possimus omnis modi excepturi?
    Dolorem incidunt ipsam enim saepe consectetur corrupti nam adipisci, vero perspiciatis quaerat, exercitationem harum similique illum cum, corporis perferendis aliquid? In eaque nam non quam, molestias nemo. Consequuntur, animi doloribus!
    Laboriosam eius harum, ullam cum dolorem quam alias deleniti qui praesentium magni corrupti, maiores placeat perferendis itaque aperiam. Beatae hic nam architecto maiores dignissimos, velit earum! Dolorem natus perferendis sunt?
    Delectus deserunt officia, quae, sit rem, aliquam adipisci esse aspernatur ex minima ea temporibus? Distinctio accusantium maiores necessitatibus porro, assumenda veniam earum rem at, similique saepe nesciunt cupiditate delectus ea.
    Mollitia atque, accusantium natus exercitationem totam earum deleniti ducimus nesciunt aspernatur ratione corporis nostrum facere quam. Explicabo delectus illo expedita, eveniet sapiente facilis quisquam corrupti maxime adipisci facere enim ad!
    Ipsam quaerat cum saepe et? Vero libero quisquam eligendi incidunt, tempora, obcaecati, molestiae ea reiciendis mollitia expedita in? Error excepturi quos vero ex voluptates nulla repudiandae, possimus nesciunt at officia.
    Ab, maiores excepturi. Ipsa, a reiciendis. Impedit inventore reiciendis minima, cupiditate laudantium quam tempore magnam a iure nostrum vitae alias optio vel adipisci officiis similique et ab fugiat? Maiores, sed!
    Quaerat itaque fuga molestiae minima cumque et temporibus iusto consectetur eos placeat. Nihil ab optio error facilis accusamus et laudantium dolorem quos aliquid sapiente sunt rerum sint, itaque repudiandae quia?
</p>
<button>Click me!</button>
</body>
</html>